<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.png">
    <title>@ViewBag.Title - Industrial Development</title>
    <link href="~/Content/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">
    <link href="~/Content/mairala/style.css" rel="stylesheet" />

    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="myHead">
        <div class="idLogo">
            <a href="/"><img src="~/Content/images/id_logo.svg" alt="logo" /></a>
            @(User.Identity.IsAuthenticated ? Html.Action("Login", "Home", new { id = User.Identity.Name }) : Html.Partial("_LoginPartial"))
        </div>
        <div class="currensy">
            @Html.Action("Currensy", "Home")
        </div>
        <div class="myShop">
            <a href="@Url.Action("Index", "Shop")">МАГАЗИН<i class="fa fa-arrow-circle-o-right"></i></a>
        </div>
        <div class="myCart">
            @Html.Action("CartModule","Cart")
        </div>
        <nav>
            <button type="button" class="dropdown-toggle" data-toggle="dropdown">МЕНЮ <i class="fa fa-list"></i></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Contact","Home")">Контакты</a></li>
                <li><a>Барахолка</a></li>
                <li><a>Галерея</a></li>
                <li><a href="@Url.Action("About","Home")">Компания</a></li>
                <li><a href="@Url.Action("index","Home")">Главная</a></li>
            </ul>
        </nav>
    </div>

<div class="renderBody">
    @RenderBody()
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copy-right">
                    <p>
                        &#169 Copyright @DateTime.Today.Year All Rights Reserved <a href="/"> Industrial Development</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        if ($('.renderBody').height() +150 < $(window).height()) {
            $('.footer').css({
                position: 'absolute',
                bottom: 0,
                width: '100%'
            });
        } else {
            $('.footer').css({
                position: 'relative'
            });
        }
    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>
