<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1200">
    <meta name="yandex-verification" content="a0e842fe97f72eaf"/>
    <meta name="google-site-verification" content="N8TWV46gSqHhsVC3kBEOqatKqj7nLg4OhQ4dFMQocW0" />
    <meta name="description" content="@ViewBag.description"/>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/Content/Test.css" rel="stylesheet" media="only screen and (min-width:771px)"/>
    <link href="~/Content/media.css" rel="stylesheet" media="only screen and (min-width:771px)"/>
    <link href="~/Content/testUI/media.css" rel="stylesheet" media="only screen and (max-width:770px)"/>
    <link href="~/Content/testUI/resp.css" rel="stylesheet" media="only screen and (max-width:770px)"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <script type="text/javascript">
        tinymce.init({
            selector: '.editorTiny',
            theme: 'modern',
            height: 300,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            content_css: 'css/content.css',
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
        });
    </script>
    @RenderSection("links", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="header_new hidden-xs">
    <div class="container">
        <div class="row">
            <a href="/" class="brandView" title="Главная">Industrial Development</a>
            <ul class="currensyUl hidden-xs">
                @Html.Action("CurrensyNew", "Home")
            </ul>
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="loginPartial">
                    <li><a href="@Url.Action("Register", "Security")">РЕГИСТРАЦИЯ</a><span>/</span></li>
                    <li><a href="@Url.Action("Login", "Security")">ВХОД</a></li>
                </ul>
            }
            else
            {
                @Html.Action("Logon", "Customer")
            }
        </div>
    </div>
</div>
<header class="hidden-lg hidden-md hidden-sm">
    <div class="headerWrapper">
        <div class="topStripe">
            <a href="@Url.Action("Test", "Home")" class="hidden-xs leftTitle" title="На главную">Industrial Development</a>
            <button class="hidden-lg hidden-md hidden-sm menuBtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <div class="menuMobile">
                <p>Торговый дом "АЙДИ-С"</p>
                <a href="@Url.Action("Test", "Home")">Главная</a>
                <a href="@Url.Action("Test", "Home")">Каталог</a>
                <a href="@Url.Action("Test", "Home")">О Компании</a>
                <a href="@Url.Action("Test", "Home")">Контакты</a>
            </div>
            @Html.Action("MobileCurs", "Home")
            <button class="authButton"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
            <div class="mobileAuth">
                @Html.ActionLink("Вход", "Login", "Security")
                @Html.ActionLink("Регистрация", "Register", "Security")
            </div>
        </div>
    </div>
</header>

<div id="persHelp">
    @{Html.RenderPartial("_PersonalHelp");}
</div>

<div class="bodyContent">
    @RenderBody()
</div>

<footer>
    <div class="container hidden-xs hidden-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="yCounter">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=37292330&amp;from=informer"
                       target="_blank" rel="nofollow">
                        <img src="https://informer.yandex.ru/informer/37292330/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                             style="width: 88px; height: 31px; border: 0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try {Ya.Metrika.informer({ i: this, id: 37292330, lang: 'ru' });return false} catch (e) {}"/>
                    </a>
                    <!-- /Yandex.Metrika informer -->
                </div>
                <p>
                    &#169 Copyright @DateTime.Today.Year All Rights Reserved <a href="/"> Industrial Development</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footerWraper hidden-lg hidden-md">
        <button class="callButton"><i class="fa fa-phone" aria-hidden="true"></i></button>
        <div class="telButton">
            <h3>Быстрые контакты</h3>
            <p>Офис: +7(8652)990582</p>
            <p>Офис: +7(8652)990583</p>
            <p>Оптика: +7(8652)990582</p>
        </div>
        <button class="cartButton"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
        <button class="cartButton"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
        @Html.Action("CartMobile", "Home")
        <button class="messageButton"><i class="fa fa-envelope" aria-hidden="true"></i></button>
    </div>
</footer>

<script src="~/Scripts/owl.carousel.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<script src="~/Scripts/knockout-3.4.0.js"></script>

<script src="~/Scripts/knockout.validation.js"></script>

<script src="~/Scripts/CommonLink.js"></script>

<script src="~/Scripts/common.js"></script>

    @RenderSection("scripts", required: false)
    
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter37292330 = new Ya.Metrika({
                    id:37292330,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/37292330" style="position: absolute; left: -9999px;" alt=""/>
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->

    <!--GoogleAnalitics-->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-81416085-1', 'auto');
    ga('send', 'pageview');

</script>
<!--End Google Analitics-->

</body>
</html>
