<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="yandex-verification" content="4672102a325a863a"/>
    <meta name="description" content="@ViewBag.description"/>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/Content/Test.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
  tinymce.init({
    selector: '.editorTiny',
    theme: 'modern',
    height: 300,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality emoticons template paste textcolor'
    ],
    content_css: 'css/content.css',
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
  });
    </script>
    @RenderSection("links", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="header_new">
    <div class="container">
        <div class="row">
            <a href="/" class="brandView" title="Главная">Industrial Development</a>
            <ul class="currensyUl hidden-xs">
                @Html.Action("CurrensyNew", "Home")
            </ul>
            @if (!User.Identity.IsAuthenticated)
            {
                <ul class="loginPartial">
                    <li><a href="@Url.Action("Register", "Security")">РЕГИСТРАЦИЯ</a><span>/</span></li>
                    <li><a href="@Url.Action("Login", "Security")">ВХОД</a></li>
                </ul>
            }
            else
            {
                @Html.Action("Logon", "Customer")
            }
        </div>
    </div>
</div>
<div class="bodyContent">
    @RenderBody()
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="yCounter">
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=37292330&amp;from=informer"
                       target="_blank" rel="nofollow">
                        <img src="https://informer.yandex.ru/informer/37292330/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                             style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:37292330,lang:'ru'});return false}catch(e){}" />
                    </a>
                    <!-- /Yandex.Metrika informer -->
                </div>
                <p>
                    &#169 Copyright @DateTime.Today.Year All Rights Reserved <a href="/"> Industrial Development</a>
                </p>
            </div>
        </div>
    </div>
</footer>

    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter37292330 = new Ya.Metrika({
                    id:37292330,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/37292330" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    @RenderSection("scripts", required: false)
</body>
</html>
