@model IndDev.Auth.Model.LoginViewModel
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
<link href="~/Content/Main.css" rel="stylesheet" />
    
}
<div class="loginForm">
    <div class="logForm">
        <h1>ВОССТАНОВИТЬ ПАРОЛЬ</h1>
        @using (@Html.BeginForm("EmailResetLink", "Security", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <label>ЛОГИН</label><br/>
            @Html.ValidationMessageFor(model => model.Login)
            @Html.TextBoxFor(model => model.Login, new {placeholder="Введите Ваш e-mail"})<br/>
            <input type="submit" value="ВОССТАНОВИТЬ" />
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}