@model IndDev.Auth.Model.LoginViewModel
@{
    ViewBag.Title = "Восстановление пароля";
    Layout = "~/Views/Shared/_LayoutSFoot.cshtml";
}

<div class="loginForm">
    <div class="logForm">
        <h1>ВОССТАНОВИТЬ ПАРОЛЬ</h1>
        @using (@Html.BeginForm("EmailResetLink", "Security", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <label>ЛОГИН</label><br/>
            @Html.ValidationMessageFor(model => model.Login)
            @Html.TextBoxFor(model => model.Login, new {placeholder="Введите Ваш e-mail"})<br/>
            <input type="submit" value="ВОССТАНОВИТЬ" />
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    if ($('.loginForm').height() + 80 < $(window).height()) {
            $('.footer').css({
                position: 'absolute',
                bottom: 0,
                width:'100%'
            });
            $('body').css({
                'background': 'url("/Content/images/servers.jpg") no-repeat center center fixed',
                'background-size':'100%'
            });
        } else {
            $('.footer').css({
                position: 'relative'
            });
        }
    </script>
}