@model IndDev.Auth.Model.LoginViewModel

@{
    ViewBag.Title = @"Вход для постоянного клиента";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
@section links
{
 <link href="~/Content/Main.css" rel="stylesheet" />
}
<div class="loginForm">
    <div class="logForm">
        <h1>АВТОРИЗАЦИЯ ПОЛЬЗОВАТЕЛЯ</h1>
        @using (@Html.BeginForm("Login","Security", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ReturnUrl)
            <label>ЛОГИН</label><br/>
            @Html.TextBoxFor(model => model.Login, new { placeholder = "example@email.com" })<br />
            <label>ПАРОЛЬ</label><br />
            @Html.PasswordFor(model => model.Password)<br />
            @Html.CheckBoxFor(model => model.RememberMe)
            @Html.LabelFor(model => model.RememberMe)<br />
            <input type="submit" value="ВОЙТИ"/>
            <a href="@Url.Action("ForgotPassword")">Забыли пароль?</a>
        }
    </div>
</div>
