@model IndDev.Auth.Model.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    if ($('.loginForm').height() + 80 < $(window).height()) {
            $('footer').css({
                position: 'absolute',
                bottom: 0,
                width:'100%'
            });
            $('body').css({
                'background': 'url("/Content/images/servers.jpg") no-repeat center center fixed',
                'background-size':'100%'
            });
        } else {
            $('footer').css({
                position: 'relative'
            });
        }
</script>
}
@section links
{
    
<link href="~/Content/Main.css" rel="stylesheet" />
}
<div class="loginForm">
    <div class="logForm">
        <h1>АВТОРИЗАЦИЯ ПОЛЬЗОВАТЕЛЯ</h1>
        @using (@Html.BeginForm("Login","Security", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ReturnUrl)
            <label>ЛОГИН</label><br/>
            @Html.TextBoxFor(model => model.Login, new { placeholder = "example@email.com" })<br />
            <label>ПАРОЛЬ</label><br />
            @Html.PasswordFor(model => model.Password)<br />
            @Html.CheckBoxFor(model => model.RememberMe)
            @Html.LabelFor(model => model.RememberMe)<br />
            <input type="submit" value="ВОЙТИ"/>
            <a href="@Url.Action("ForgotPassword")">Забыли пароль?</a>
        }
    </div>
</div>
