@model IndDev.Auth.Model.RegisterViewModel
@{
    ViewBag.Title = @"Регистрация постоянного клиента компании Торговый дом ""АЙДИ-С""";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
    
<link href="~/Content/Main.css" rel="stylesheet" />
}

<div class="loginForm">
    <div class="logForm">
        <h1>Регистрация нового пользователя.</h1>
        @using (Html.BeginForm("Register","Security"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ReturnUrl)

            @Html.LabelFor(model => model.UserName)<br/>
            @Html.ValidationMessageFor(model => model.UserName,"",new {@class="validation-summary-errors"})
            @Html.TextBoxFor(model => model.UserName, new {placeholder="ООО \"ХХХХХХХХХХ\""})
            
            @Html.LabelFor(model => model.Region)<br />
            @Html.ValidationMessageFor(model => model.Region)
            @Html.TextBoxFor(model => model.Region, new {placeholder="Белгородская обл. г. Шебекино"})

            @Html.LabelFor(model => model.Email)<br />
            @Html.ValidationMessageFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new {placeholder="example@email.net"})

            @Html.LabelFor(model => model.Phone)<br />
            @Html.ValidationMessageFor(model => model.Phone)
            @Html.TextBoxFor(model => model.Phone, new {placeholder="+7-900-888-99-99"})

            @Html.LabelFor(model => model.Password)<br />
            @Html.ValidationMessageFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { placeholder = "Минимум 6 символов" })

            @Html.LabelFor(model => model.ConfirmPassword)<br />
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
            @Html.PasswordFor(model => model.ConfirmPassword)

            <input type="submit" value="ОТПРАВИТЬ"/>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
