@using IndDev.Domain.Entity.Products
@using IndDev.Domain.ViewModels
@model IndDev.Domain.Entity.Menu.ProductMenu
@{
    Layout = "~/Views/Shared/_NewDesing.cshtml";
    ViewBag.description = Model.ShotDescription;
}
@section links
{
    <link href="~/Content/ShopHelper.css" rel="stylesheet" />
}
@Html.Action("TopNavigation", "Home")

<div class="catalogBody">
    @Html.Action("ShopBlock", "Shop")
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>@Model.Title</h1>
                <div class="navPagination">
                    <a href="@Url.Action("Index")">Главная</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <a>@Model.Title</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                @foreach (var item in Model.MenuItems.Where(item => item.ShowInCatalog && item.ParentMenuItem==null).OrderBy(item => item.Priority))
                {
                    <div class="col-md-4">
                        <div class="product">
                            <a href="@Url.Action("ShowProducts", "Shop", new {catId = item.Id})">
                                @if (item.Image != null)
                                {
                                    <img src="@item.Image.Path" alt="@item.Image.AltText"/>
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/images/noimage.png")" alt="no image"/>
                                }
                                <div class="categoryName">
                                    <p>@item.Title</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                @*<div class="col-md-12">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <td>Артикул</td>
                            <td>Наименование</td>
                            <td>Розница <br/> с НДС</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.MenuItems)
                        {
                            <tr>
                                <td></td>
                                <td colspan="4">@item.Title</td>
                            </tr>
                            foreach (var p in item.Products)
                            {
                                using (Html.BeginForm("AddToCart","Cart",FormMethod.Post, new {id=p.Id}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("productId", p.Id)
                                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                     <tr>
                                         <td>@p.Articul</td>
                                         <td>@p.Title</td>
                                         <td>@p.Prices.FirstOrDefault(price => price.PriceType==PriceType.Retail).Value@p.Prices.FirstOrDefault(price => price.PriceType == PriceType.Retail).Currency.Code</td>
                                         <td><input type="number" name="quantity" min="1" value="1"/></td>
                                         <td><input type="submit" value="в корзину"/></td>
                                     </tr>
                                 }
                             }
                        }
                        </tbody>
                    </table>
                </div>*@
                <div class="col-md-12">
                    <article>
                        <h1>@Model.Title</h1>
                        @Html.Raw(Model.Descr)
                    </article>
                </div>
                <div class="col-md-12">
                    @foreach (var descr in Model.MenuItems)
                    {
                        <article>
                            <h1>@descr.Title</h1>
                            @Html.Raw(descr.Descr)
                        </article>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="sideNavigation">
                    <ul>
                        <li class="navReclama"><i class="fa fa-money" aria-hidden="true"></i><a>Акции</a></li>
                        <li class="navReSale"><i class="fa fa-refresh" aria-hidden="true"></i><a>Барахолочка</a></li>
                        <li class="navFavourites"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><a>Избранное</a></li>
                    </ul>
                </div>
                @Html.Action("Navigation", "Shop", new {selected = Model.Id.ToString()})
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/search/searchClient.js"></script>
    <script src="~/Scripts/search/searchModel.js"></script>
    <script src="~/Scripts/shopScripts.js"></script>
}
