@model IndDev.Domain.Entity.Menu.ProductMenu
@{
    Layout = "~/Views/Shared/_NewDesing.cshtml";
    ViewBag.description = Model.ShotDescription;
}
@section links
{
    <link href="~/Content/ShopHelper.css" rel="stylesheet" />
}
@Html.Action("TopNavigation", "Home")

<div class="catalogBody">
@Html.Action("ShopBlock", "Shop")
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>@Model.Title</h1>
                <div class="navPagination">
                    <a href="@Url.Action("Index")">Главная</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <a>@Model.Title</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                @foreach (var item in Model.MenuItems.OrderBy(item => item.Priority))
                {
                    <div class="col-md-4">
                        <div class="product">
                            <a href="@Url.Action("ShowProducts", "Shop", new {catId = item.Id})">
                                @if (item.Image != null)
                                {
                                    <img src="@item.Image.Path" alt="@item.Image.AltText"/>
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/images/noimage.png")" alt="no image" />
                                }
                                <div class="categoryName">
                                    <p>@item.Title</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                <div class="col-md-12">
                    <article>
                        <h1>@Model.Title</h1>
                        @Html.Raw(Model.Descr)
                    </article>
                </div>
                <div class="col-md-12">
                    @foreach (var descr in Model.MenuItems)
                    {
                        <article>
                            <h1>@descr.Title</h1>
                            @Html.Raw(descr.Descr)
                        </article>
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="sideNavigation">
                    <ul>
                        <li class="navReclama"><i class="fa fa-money" aria-hidden="true"></i><a>Акции</a></li>
                        <li class="navReSale"><i class="fa fa-refresh" aria-hidden="true"></i><a>Барахолочка</a></li>
                        <li class="navFavourites"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><a>Избранное</a></li>
                    </ul>
                </div>
                @Html.Action("Navigation", "Shop", new {selected = Model.Id.ToString()})
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/shopScripts.js"></script>
}
@*<div class="shopSubCat row">
    <div class="productsSection col-md-9 col-lg-10">
        @Html.Action("ShowProducts", new {catId = @Model.Id, subCat = ViewBag.Products})
    </div>
    <ul class="subCatNav col-md-3 col-lg-2">
        <li class="goBack"><a href="@Url.Action("Index", "Shop")"><i class="fa fa-arrow-circle-o-left"></i>КАТАЛОГ</a></li>
        <li class="showAll"><a href="@Url.Action("CatDetails", "Shop", new {catId = @Model.Id, selCat = 0})">ПОКАЗАТЬ ВСЕ ТОВАРЫ</a></li>
        <li class="selCat">
            <div>
                <img src="@Model.Image.Path" alt="@Model.Image.AltText" width="150"/>
                <h1>@Model.Title</h1>
                <p>@Model.Descr</p>
            </div>
        </li>
        @foreach (var item in Model.MenuItems)
        {
            if (item.Id == ViewBag.Products)
            {
                <li class="subCutItems activeItem">
                    <a href="@Url.Action("CatDetails", "Admin", new {catId = @Model.Id, selCat = item.Id})">
                        <div>
                            <img src="@item.Image.Path" alt="@item.Image.AltText"/>
                            <h1>@item.Title</h1>
                            <p>@item.Descr</p>
                        </div>
                    </a>
                </li>

            }
            else
            {
                <li class="subCutItems"><a href="@Url.Action("CatDetails", "Shop", new {catId = @Model.Id, selCat = item.Id})">
                    <div>
                        <img src="@item.Image.Path" alt="@item.Image.AltText"/>
                        <h1>@item.Title</h1>
                        <p>@item.Descr</p>
                    </div>
                </a></li>
            }
        }
    </ul>
</div>*@
