@{
    ViewBag.Title = "Магазин";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}


<div class="catalog">
    <div class="productGroupe">
        <div class="pg">
            <ul class="pgList">
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <h5>Оптические патч-корды</h5>
                        <p>Производства России. Прямые, переходные, пиг-тэилы, "гидры"</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" title="Произведено в России" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="pg">
            <ul class="pgList">
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <h5>Оптические патч-корды</h5>
                        <p>Производства России. Прямые, переходные, пиг-тэилы, "гидры"</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" title="Произведено в России" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
            </ul>
        </div>
        <div class="pg">
            <ul class="pgList">
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <h5>Оптические патч-корды</h5>
                        <p>Производства России. Прямые, переходные, пиг-тэилы, "гидры"</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" title="Произведено в России" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
                <li>
                    <div class="pgItem">
                        <img src="@Url.Content("~/Content/images/patchcord.png")" alt="photo" />
                        <p>Оптические патч-корды</p>
                        <img src="@Url.Content("~/Content/images/RusFlag.png")" alt="made in Russia" class="flag" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="menuShop">
        @Html.Action("Navigation")
    </div>
</div>

