@model IEnumerable<IndDev.Domain.Entity.Menu.ProductMenu>
@{
    ViewBag.Title = "Магазин";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

@Html.Action("TopNavigation","Home")
@Html.Action("ShopBlock","Shop")
<div class="catalogBody">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Каталог продукции</h1>
                <div class="navPagination">
                    <a href="@Url.Action("Index")">Главная</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="product">
                            <a href="@Url.Action("CatDetails","Shop", new {catId=item.Id})">
                                <img src="@item.Image.Path" alt="@item.Image.AltText" />
                                <div class="categoryName">
                                    <p>@item.Title</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <div class="sideNavigation">
                    <ul>
                        <li class="navReclama"><i class="fa fa-money" aria-hidden="true"></i><a>Акции</a></li>
                        <li class="navReSale"><i class="fa fa-refresh" aria-hidden="true"></i><a>Барахолочка</a></li>
                        <li class="navFavourites"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><a>Избранное</a></li>
                    </ul>
                </div>
                @Html.Action("Navigation")
            </div>
            <div class="col-md-12">
                <div class="aboutId">
                    <h1>Industrial Development - региональный представитель.</h1>
                    <h2>Наша компания реализует:</h2>
                    <article>
                        <h4>Кабели на основе витых пар.</h4>
                        <p>Мы предлагаем кабель "витую пару" от 2(двух) пар, с медный или омедненный, для внутренней и внешней прокладки,
                            с тросом, комбинированный кабель для видеонаблюдения.</p>
                    </article>
                    <article>
                        <h4>Оптический кабель.</h4>
                        <ul>
                            <li>Оптический кабель внутриобъектовый</li>
                            <li>Оптический кабель для прокладки в грунт</li>
                            <li>Оптический кабель для прокладки в канализации</li>
                            <li>Оптический кабель для прокладки по воздуху</li>
                            <li>Оптический кабель для сетей GPON(FTTx, FTTH)</li>
                            <li>Соеденительные шнуры: прямые, переходные, пигтэилы</li>
                        </ul>
                    </article>

                </div>
            </div>
        </div>
    </div>   
</div>

@section scripts
{
<script src="~/Scripts/shopScripts.js"></script>
}
  
