@model IEnumerable<IndDev.Domain.Entity.Menu.ProductMenu>
@{
    ViewBag.Title = @"Каталог компании ""Торговый дом ""АЙДИ-С""";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
    ViewBag.description = @"В нашем каталоге вы найдете широкий ассортимент товаров для строительства линий связи, телекоммуникационного оборудования, инстркмент, расходные материалы для локальных сетей. Мы предлагаем товары как Российского, так и импортного производства. Вся продукция сертифицированна и проверена на качество нашими постоянными клиентами. Доставляем во все регионы России.";
    ViewBag.canonical = "catalog";
}

@section links
{
    <link href="~/Content/ShopHelper.css" rel="stylesheet" />
}

@Html.Action("TopNavigation","Home")

<div class="catalogBody">
    @Html.Action("ShopBlock", "Shop")
    <div class="mainGroupes">
        @foreach (var item in Model)
        {
            <div class="mainMenuItem" style="background: url('@item.Image.Path') no-repeat center center">

                <div class="menuItemDescr">
                    <a href="@Url.Action("CatDetails", "Shop", new {canonic = item.CanonicalTitle})">перейти</a>
                    <h1>@item.Title</h1>
                    <p>@item.ShotDescription</p>
                </div>
            </div>
        }
    </div>
    <div class="menuSertif">
        <img src="~/Content/images/Sertificates/sert.jpeg" alt=""/>
        <div class="sertDescr">
            <h1>сертификаты</h1>
            <h3>Компания Inductrial Development - сертифицированный поставщик</h3>
            <p>Торговый дом "АЙДИ-С" - авторизованный и сертифицированный поставщик телекоммуникационного, сетевого оборудования
                на территории СКФО и ЮФО. Мы поставляем более 10 000 наименований продукции от ведущих производителей России и ближнего зарубежья.
            </p>
            <p>Так же наша компания осуществляет поддержку начинающим производителям - инвестируя средства в производство и реализуя товары под своей торговой маркой: <span>IDs - Industrial Development</span>
            </p>
            <a href="@Url.Action("About", "Home")" target="blank">подробнее</a>
        </div>
    </div>
</div>
@*<div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Каталог продукции</h1>
                <div class="navPagination">
                    <a href="@Url.Action("Index")">Главная</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="product">
                            <a href="@Url.Action("CatDetails","Shop", new {catId=item.Id})">
                                <img src="@item.Image.Path" alt="@item.Image.AltText" />
                                <div class="categoryName">
                                    <p>@item.Title</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <div class="sideNavigation">
                    <ul>
                        <li class="navReclama"><i class="fa fa-money" aria-hidden="true"></i><a>Акции</a></li>
                        <li class="navReSale"><i class="fa fa-refresh" aria-hidden="true"></i><a>Барахолочка</a></li>
                        <li class="navFavourites"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><a>Избранное</a></li>
                    </ul>
                </div>
                @Html.Action("Navigation")
            </div>
            <div class="col-md-12">
                <div class="aboutId">
                    <h1>Industrial Development - региональный представитель.</h1>
                    <h2>Наша компания реализует:</h2>
                    @foreach (var item in Model)
                    {
                        <article>
                            <h4>@item.Title</h4>
                            <p>
                                @Html.Raw(item.Descr)
                            </p>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>*@
   
@section scripts
{
<script src="~/Scripts/search/searchClient.js"></script>
<script src="~/Scripts/search/searchModel.js"></script>
<script src="~/Scripts/shopScripts.js"></script>
}
  
