@model IEnumerable<IndDev.Domain.Entity.Menu.ProductMenu>

<div class="" id="cssmenu">
    <ul>
        @if (ViewBag.Selected == "0")
        {
            <li class="activeItem"><a href="@Url.Action("Index")">Каталог</a></li>
        }
        else
        {
            <li><a href="@Url.Action("Index")">Каталог</a></li>
        }
        @foreach (var item in Model)
        {
            if (item.Id.ToString() == ViewBag.Selected)
            {
                <li class="activeItem">
                    <a href="@Url.Action("CatDetails","Shop",new {selected=item.Id})">@item.Title</a>
                    <ul>
                        @foreach (var menus in item.MenuItems)
                        {
                            if (menus.Id.ToString() == ViewBag.Product)
                            {
                                <li class="selectedMenu"><a>@menus.Title</a></li>
                            }
                            else
                            {
                                <li><a>@menus.Title</a></li>
                            }
                        }
                    </ul>
                </li>

            }
            else
            {
                <li><a>@item.Title</a></li>
            }
        }
    </ul>
</div>