@using IndDev.Domain.Entity.Products
@model IndDev.Domain.ViewModels.ShopProductView
@{
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
    <link href="~/Content/ShopHelper.css" rel="stylesheet" />
}
@Html.Action("TopNavigation", "Home")

<div class="catalogBody">
    @Html.Action("ShopBlock", "Shop")
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Поиск по запросу: "@ViewBag.SearchRequest"</h1>
                <div class="navPagination">
                    <a href="@Url.Action("Index")">Главная</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <a>Результат поиска</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <a><strong>@Model.Products.Count()</strong> позиций</a>
                </div>
                @foreach (var item in Model.Products.OrderBy(view => view.Prices.FirstOrDefault(model => model.PriceType == PriceType.Retail)?.ConvValue))
                {
                    <div class="col-md-6 productView">

                        <div class="goods">
                            <a href="@Url.Action("ProductDetails","Shop", new {id=item.Product.Id})">
                                @if (item.Avatar != null)
                                {
                                    <img src="@item.Avatar.Path" alt="@item.Product.Title" />
                                }
                                else
                                {
                                    <img src="~/Content/images/noimage.png" alt="" />
                                }
                                <div class="goodsDescr">
                                    <h3>АРТ : @Html.Raw(item.Product.Articul)</h3>
                                    <p>@Html.Raw(item.Product.Title)</p>
                                </div>
                            </a>
                            <div class="actionSection">
                                @if (item.Prices.Any())
                                {
                                    <p>от @item.Prices.Max(price => price.ConvValue).ToString("C")/@item.Product.MesureUnit.ShortName</p>
                                }
                                else
                                {
                                    <p>Уточняйте цену...</p>
                                }
                                @if (Model.Cart.CartItems.Any(cartItem => cartItem.Product.Id == item.Product.Id))
                                {
                                    @Html.ActionLink("В КОРЗИНЕ: " + Model.Cart.CartItems.FirstOrDefault(cartItem => cartItem.Product.Id == item.Product.Id)?.Quantity + item.Product.MesureUnit.ShortName, "QuickAddToCart", "Cart", new { prodId = item.Product.Id, returnUrl = Request.Url.PathAndQuery }, null)
                                }
                                else
                                {
                                    @Html.ActionLink("Подробнее", "ProductDetails", "Shop", new { id = item.Product.Id}, null)
                                }
                            </div>
                        </div>

                    </div>
                }
            </div>
            <div class="col-md-3">
                <div class="sideNavigation">
                    <ul>
                        <li class="navReclama"><i class="fa fa-money" aria-hidden="true"></i><a>Акции</a></li>
                        <li class="navReSale"><i class="fa fa-refresh" aria-hidden="true"></i><a>Барахолочка</a></li>
                        <li class="navFavourites"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><a>Избранное</a></li>
                    </ul>
                    @Html.Action("Navigation", "Shop")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/search/searchClient.js"></script>
    <script src="~/Scripts/search/searchModel.js"></script>
    <script src="~/Scripts/shopScripts.js"></script>
}