@model IndDev.Domain.Entity.Cart.Cart

<div class="cartSectionBlock">
    <div class="shopTop">
        <div class="search">
            @using (Html.BeginForm("Search", "Shop", FormMethod.Post, new {data_bind = "submit:SearchModule.submit"}))
            {
                @Html.AntiForgeryToken()
                <input type="text" name="search" id="srch" tabindex="1" placeholder="Поиск по каталогу..." data-bind="value:SearchModule.resultModel.SearchRequest"/><input type="submit" value="Поиск"/>
            }
        </div>
        <div data-bind="visible: SearchModule.isSearchResult()">
            <div class="searchResultForm">
                <div class="searchFormHeader">
                    <p>По запросу: "<span data-bind="text:SearchModule.resultModel.SearchRequest"></span>" найдено товаров: <span data-bind="text:SearchModule.resultModel.total"></span></p>
                </div>
                <div class="searchFormBody">
                    <table class="table table-responsive table-striped">
                        <thead>
                        <tr>
                            <th>Фото</th>
                            <th>Артикул</th>
                            <th>Наименование</th>
                            <th>Производитель</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach:SearchModule.resultModel.products">
                        <tr>
                            <td data-bind="if: Avatar"><img data-bind="attr:{src: Avatar}" alt="" width="50"/></td>
                            <td><p data-bind="html: Articul"></p></td>
                            <td>
                                <a data-bind="attr:{href:'/shop/ProductDetails?id='+Id}">
                                    <p data-bind="html: Title"></p>
                                </a>
                            </td>
                            <td><p data-bind="text: Brand"></p></td>
                        </tr>
                        </tbody>
                    </table>
                    @*<ul data-bind="foreach:SearchModule.resultModel.products">
                        <li>
                            <a data-bind="attr:{href:'/shop/ProductDetails?id='+Id}">
                                <p data-bind="html: Articul+' '+Title+' '+Brand"></p>
                            </a>
                        </li>
                    </ul>*@
                </div>
                <div class="searchFormFooter">
                    <button type="button" data-bind="click: SearchModule.closeSearchResult">Закрыть</button>
                    @using (Html.BeginForm("Search", "Shop", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="SearchRequest" data-bind="value:SearchModule.resultModel.SearchRequest"/>
                        <button type="submit">Подробнее</button>
                    }
                </div>
            </div>
        </div>
        <div class="midleBlock">
            <div id="vasia" class="carousel" data-interval="15000" data-ride="carousel">
                <div class="carousel-inner myText">
                    <p class="active item">цены от производителя</p>
                    <p class="item">доставка в регионы</p>
                    <p class="item">широкий выбор</p>
                </div>
            </div>
        </div>

        <div class="cartBloc">
            <div class="cart1">

                <div class="popup1">
                    <div class="row1 header1">
                        <span>Позиций</span>
                        <span>Сумма</span>
                    </div>
                    <div class="row1 items1">
                        <span>@Model.CartItems.Count()</span>
                        <span>@Model.CalcTotalSumm().ToString("C")</span>
                    </div>
                    <div class="row1 checkout1">
                        <span><a href="@Url.Action("Index", "Cart")">В корзину ></a></span>
                        <span><a class="checkout-button1" href="@Url.Action("MakeOrder", "Customer")">Оформить заказ</a></span>
                    </div>
                </div>
            </div>
            @*<button class="calcItem"><i class="fa fa-calculator" aria-hidden="true"></i></button>
            @Html.Action("Calculator")*@
            @*<a href="@Url.Action("Index", "Cart")">
                <img src="@Url.Content("~/Content/images/cart_logo.png")" alt="" />
                <h4>КОРЗИНА</h4>
                <p>@Model.CartItems.Count() выбрано</p>
                <p>@Model.CalcTotalSumm().ToString("C")</p>
            </a>*@
        </div>
    </div>    
</div>