@model IndDev.Domain.Entity.Cart.Cart


<div class="shopHelper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="search">
                    @using (Html.BeginForm("Search", "Shop", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" name="search" tabindex="1" placeholder="Поиск по каталогу..."/><input type="submit" value="Поиск"/>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="reclama">
                    <div class="owl-carousel" id="reclShop">
                        <div class="item">
                            <p>САМЫЕ НИЗКИЕ ЦЕНЫ !!!</p>
                        </div>
                        <div class="item">
                            <p>ШИРОКИЙ ВЫБОР</p>
                        </div>
                        <div class="item">
                            <p>ДОСТАВКА ПО РОССИИ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cartBloc">
                    <a href="@Url.Action("Index", "Cart")">
                        <img src="@Url.Content("~/Content/images/cart_logo.png")" alt="" />
                        <h4>КОРЗИНА</h4>
                        <p>@Model.CartItems.Count() выбрано</p>
                        <p>@Model.CalcTotalSumm().ToString("C")</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
