@using IndDev.Domain.Entity.Products
@model IndDev.Domain.ViewModels.ShopProductView
@{
    Layout = "~/Views/Shared/_NewDesing.cshtml";
    ViewBag.description = @"В нашем каталоге вы найдете широкий ассортимент товаров для строительства линий связи, телекоммуникационного оборудования, инстркмент, расходные материалы для локальных сетей. Мы предлагаем товары как Российского, так и импортного производства. Вся продукция сертифицированна и проверена на качество нашими постоянными клиентами.";
}
@section links
{
    <link href="~/Content/ShopHelper.css" rel="stylesheet" />
}
@Html.Action("TopNavigation", "Home")
<div class="catalogBody">
@Html.Action("ShopBlock", "Shop")
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>@Model.ProductMenuItem.Title</h1>
                <div class="navPagination">
                    <a href="@Url.Action("Index")">Главная</a>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <a href="@Url.Action("CatDetails", "Shop", new {catId = Model.ProductMenuItem.ProductMenu.Id})">@Model.ProductMenuItem.ProductMenu.Title</a>

                    @if (Model.ProductMenuItem.ParentMenuItem != null)
                    {
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a href="@Url.Action("ShowProducts", "Shop", new {catId = Model.ProductMenuItem.ParentMenuItem.Id})">@Model.ProductMenuItem.Title</a>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <a><strong>@Model.Products.Count()</strong> позиций</a>
                    }

                </div>
                @foreach (var item in Model.MenuItems.Where(item => item.ShowInCatalog).OrderBy(item => item.Priority))
                {
                    <div class="col-md-4">
                        <div class="product">
                            <a href="@Url.Action("ShowProducts", "Shop", new {catId = item.Id})">
                                @if (item.Image != null)
                                {
                                    <img src="@item.Image.Path" alt="@item.Image.AltText" />
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/images/noimage.png")" alt="no image" />
                                }
                                <div class="categoryName">
                                    <p>@item.Title</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                @foreach (var item in Model.Products.OrderBy(view => view.Prices.FirstOrDefault(model => model.PriceType==PriceType.Retail)?.ConvValue))
                {
                    <div class="col-md-6 productView">

                        <div class="goods">
                            <a href="@Url.Action("ProductDetails","Shop", new {id=item.Product.Id})">
                                @if (item.Avatar != null)
                                {
                                    <img src="@item.Avatar.Path" alt="@item.Product.Title"/>
                                }
                                else
                                {
                                    <img src="~/Content/images/noimage.png" alt=""/>
                                }
                                <div class="goodsDescr">
                                    <h3>АРТ : @item.Product.Articul</h3>
                                    <p>@item.Product.Title</p>
                                </div>
                            </a>
                            <div class="actionSection">
                                @if (item.Prices.Any())
                                {
                                    <p>от @item.Prices.Max(price => price.ConvValue).ToString("C")/@item.Product.MesureUnit.ShortName</p>
                                }
                                else
                                {
                                    <p>Уточняйте цену...</p>
                                }
                                @if (Model.Cart.CartItems.Any(cartItem => cartItem.Product.Id == item.Product.Id))
                                {
                                    @Html.ActionLink("В КОРЗИНЕ: "+Model.Cart.CartItems.FirstOrDefault(cartItem => cartItem.Product.Id==item.Product.Id)?.Quantity+item.Product.MesureUnit.ShortName, "QuickAddToCart", "Cart", new { prodId = item.Product.Id, returnUrl = Request.Url.PathAndQuery }, null)
                                }
                                else {
                                    @Html.ActionLink("КУПИТЬ","QuickAddToCart","Cart", new { prodId = item.Product.Id, returnUrl = Request.Url.PathAndQuery},null)
                                }
                            </div>
                        </div>
                        
                    </div>
                }
                <div class="col-md-12">
                    <article>
                        <h1>@Model.ProductMenuItem.Title</h1>
                        @Html.Raw(Model.ProductMenuItem.Descr)
                    </article>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sideNavigation">
                    <ul>
                        <li class="navReclama"><i class="fa fa-money" aria-hidden="true"></i><a>Акции</a></li>
                        <li class="navReSale"><i class="fa fa-refresh" aria-hidden="true"></i><a>Барахолочка</a></li>
                        <li class="navFavourites"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i><a>Избранное</a></li>
                    </ul>
                    @Html.Action("Navigation", "Shop", new {selected = Model.ProductMenuItem.ProductMenu.Id, product = Model.ProductMenuItem.Id})
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
<script src="~/Scripts/search/searchClient.js"></script>
<script src="~/Scripts/search/searchModel.js"></script>
<script src="~/Scripts/shopScripts.js"></script>
}
@*<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 shopView">
            <img src="@item.Avatar.Path" alt="@item.Avatar.AltText"/>
            <h1>@item.Product.Title</h1>
            @foreach (var price in item.Prices.Where(price => price.OriginalPrice > 0))
            {
                <p>От @price.PriceFrom @item.Product.MesureUnit.ShortName <span>@price.ConvValue.ToString("##.##р.")</span></p>
            }
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#@item.Product.Id">ПРОСМОТР</button>
        </div>
        <div class="modal fade" id="@item.Product.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">@item.Product.Title</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Action("ProductView","Shop", new {id=item.Product.Id, subCat = item.SubCategory})
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@