
@{
    ViewBag.Title = "Интернет магазин";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

<div class="topSlider">
    @Html.Partial("_TopSlider")
</div>
<div class="navString" id="mainNav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 topNav">
                <ul>
                    <li><a href="/">ГЛАВНАЯ</a></li>
                    <li class="item1">
                        <a href="@Url.Action("Index", "Shop")">КАТАЛОГ</a>
                        <ul class="subMenuList">
                            <li><a>ПРОДУКЦИЯ</a></li>
                            <li><a>АКЦИИ</a></li>
                            <li><a>РАСПРОДАЖА</a></li>
                            <li><a>БАРАХОЛКА</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("About")">О КОМПАНИИ</a></li>
                    <li><a href="@Url.Action("Contact")">КОНТАКТЫ</a></li>
                </ul>
                <div class="tel">
                    <h4>8(8652)99-05-82</h4>
                    @*<a>заказать обратный звонок</a>*@
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="specPredlog">
    <h1>ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</h1>
    <a>45 товаров по спец-цене</a>
    <div id="hotCarousel" class="owl-carousel">
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/netlan42.png" alt=""/>
                <div class="hotDescr">
                    <p>Кабель NETLAN F/UTP 4 пары, Кат.5e (Класс D), 100МГц, одножильный, BC (чистая медь), внутренний, PVC нг(B), серый, 305м</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>3 300p./б-та</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/FOC.png" alt=""/>
                <div class="hotDescr">
                    <p>Кабель оптический Alpha Mile Flex FTTx. Абонентский оптический кабель Alpha Mile для FTTx сетей, 1 волокно 657A1</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>5,5p./м.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/CP42.png" alt=""/>
                <div class="hotDescr">
                    <p>Практический дизайн и высота 42U позволяет решать любые задачи по размещению оборудования предельной массы до 1000 кг. Степень защиты шкафа - IP30</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>28 500p/шт.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="hotItem">
                <img src="~/Content/images/ykn.png" alt=""/>
                <div class="hotDescr">
                    <p>Узел крепления натяжной УК-Н-01БВ предназначен для крепления натяжных спиральных или анкерных зажимов.</p>
                </div>
                <div class="hotFooter">
                    <a>ПОДРОБНЕЕ</a>
                    <p>80p/шт.</p>
                </div>
            </div>
        </div>
    </div>
    <p><<< прокручивай мышкой >>></p>
</div>*@
<div class="catalog">
    <ul>
        <li>
            <div class="v1">
                <div class="v1_descr">
                    <p>КАБЕЛИ НА ОСНОВЕ<br/> ВИТЫХ ПАР
                    </p>
                    <span></span>
                    <p>Все виды информационных кабелей для ЛВС и телефонии от 1 пары, CU, Al. Фасовка от 100м в бухте. Возможна отмока многопарных кабелей.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="v2">
                <div class="v1_descr">
                    <p>
                        ОПТИЧЕСКИЕ КРОССЫ<br/> РОССИЙСКОГО ПРОИЗВОДСТВА
                    </p>
                    <span></span>
                    <p>Оптические кроссы для всех видов монтажа. Настенные / рэковые (19"). </p>
                </div>
            </div>
        </li>
        <li>
            <div class="v3">
                <div class="v1_descr">
                    <p>
                        ОБОРУДОВАНИЕ И АКСЕССУАРЫ<br/> ДЛЯ ТЕЛЕФОНИИ
                    </p>
                    <span></span>
                    <p>Широкий выбор обордования для монтажа, сервисного обслуживания линий электросвязи. Кроссы, плинты, инструмент, маркеры.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="v4">
                <div class="v1_descr">
                    <p>
                        ОПТИЧЕСКИЙ КАБЕЛЬ<br/> ОТЕЧЕСТВЕННЫЙ И ИМПОРТНЫЙ
                    </p>
                    <span></span>
                    <p>Широкий выбор оптического кабеля. Кабель для любого монтажа.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="catDescr">
        <a href="@Url.Action("Index","Shop")">КАТАЛОГ</a><br/>
        <span> </span>
        <p>все товары протестированы и сертифицированы</p>
    </div>
    <ul>
        <li>
            <div class="v5">
                <div class="v2_descr">
                    <p>
                        АРМАТУРА<br /> ДЛЯ СИП и ВОЛС
                    </p>
                    <span></span>
                    <p>Широкий выбор оптического кабеля. Кабель для любого монтажа.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="v6">
                <div class="v2_descr">
                    <p>
                        ОПТИЧЕСКИЕ<br /> ПАТЧ-КОРДЫ и ПИГ-ТЭЙЛЫ
                    </p>
                    <span></span>
                    <p>Широкий выбор оптического кабеля. Кабель для любого монтажа.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="v7">
                <div class="v2_descr">
                    <p>
                        МЕТАЛЛИЧЕСКИЕ 19"<br /> ШКАФЫ и СТОЙКИ
                    </p>
                    <span></span>
                    <p>Широкий выбор оптического кабеля. Кабель для любого монтажа.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="v8">
                <div class="v2_descr">
                    <p>
                        ОБОРУДОВАНИЕ и ИНСТРУМЕНТ<br /> ДЛЯ СИП и ВОЛС
                    </p>
                    <span></span>
                    <p>Широкий выбор оптического кабеля. Кабель для любого монтажа.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="about">
    <div class="aboutTitle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>INDUSTRIAL DEVELOPMENT</h1>
                    <span></span>
                    <p>Запомните, что не работодатель дает зарплату, он всего лишь распределяет деньги.<br /> Зарплату выдает клиент.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutShotStory">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/images/man_dc.png" alt=""/>
                    <h3>О КОМПАНИИ</h3>
                    <h6>Industrial Development - поставщик оборудования связи.</h6>
                    <p>
                        Компания ООО «Научно-Производственное объединение Индастриал Дивелопмент» работает с 2010 года и предлагает вам рассмотреть наше предложение по сотрудничеству в области поставки антивандальных конструктивов 19» стандарта, телекоммуникационных шкафов, пассивного оборудования для телефонии, оптического волокна, оптических компонентов, медного кабеля. Основное направление деятельности компании «INDUSTRIAL DEVELOPMENT» это разработка, внедрение и поддержка высококачественных решений по оборудованию связи.
                    </p>
                    <a href="@Url.Action("About")">ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="advantages">
    <h1>НАШИ ПРЕИМУЩЕСТВА</h1>
    <span></span>
    <p>Компания Inductrial Development - мультибрэндовый дистрибьютор, основной задачей для нас, является поставка широкого спектра оборудования связи.
        Самым главным для нас является:</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/images/mairala/contact.png" alt=""/>
                <h3>НАЛИЧИЕ ТОВАРОВ</h3>
                <p>У нас вы всегда найдете в наличии широкий ассортимент товаров. Взять экземпляры продукции на тестирование. Получить всю необходимую документацию.</p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/images/mairala/flag.png" alt=""/>
                <h3>ЛУЧШАЯ ЦЕНА</h3>
                <p>Сотрудничая напрямую с производителями и импортерами, наша компания работает и предлагает цену от производителя (из первых рук), а в некоторых случаях еще и ниже. Сравните сами.</p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/images/mairala/fl.png" alt=""/>
                <h3>ГАРАНТИЯ</h3>
                <p>Industrial Development - работает на рынке г. Ставрополя и края уже более 6 лет. Мы ценим свою репутацию и ваши интересы. Поэтому, мы гарантируем - с нами вам будет выгодно.</p>
            </div>
        </div>
    </div>
</div>
<div class="aforizm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel" id="aforizmi">
                    <div class="item">
                        <h1>АЛЬБЕРТ ЭЙНШТЕЙН</h1>
                        <p>Существует огромный разрыв между тем, что человек собою представляет, и тем, что другие думают о нём или, по крайней мере, говорят вслух.</p>
                    </div>
                    <div class="item">
                        <h1>ГЕНРИ ФОРД</h1>
                        <p>Однажды Вам может показаться, что весь мир настроился против Вас. В такие моменты не легко, но стоит вспомнить, что самолет тоже взлетает против ветра.</p>
                    </div>
                    <div class="item">
                        <h1>БЕНДЖАМИН ФРАНКЛИН</h1>
                        <p>Всегда будь в войне со своими недостатками, в мире со своими соседями, и каждый новый год находи себя лучшим человеком.</p>
                    </div>
                    <div class="item">
                        <h1>ВЛАДИМИР ПУТИН</h1>
                        <p>Добавлю от себя: тот, кто не понял своего прошлого, вынужден прожить его снова...Наше прошлое, суть послание о том, каким может стать будущее.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feedBack">
    @Html.Action("FeedBack")
</div>

@section scripts
{
<script src="~/Scripts/carousels.js"></script>
}
