<div class="navString fixTop blueList" id="mainNav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 topNav">
                <ul>
                    <li><a href="/">ГЛАВНАЯ</a></li>
                    <li class="item1">
                        <a href="@Url.Action("Index", "Shop")">КАТАЛОГ</a>
                        <ul class="subMenuList blueList">
                            <li><a>ПРОДУКЦИЯ</a></li>
                            <li><a>АКЦИИ</a></li>
                            <li><a>РАСПРОДАЖА</a></li>
                            <li><a>БАРАХОЛКА</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("About")">О КОМПАНИИ</a></li>
                    <li><a href="@Url.Action("Contact")">КОНТАКТЫ</a></li>
                </ul>
                <div class="tel">
                    <h4>8(8652)99-05-82</h4>
                    @*<a id="call">заказать обратный звонок</a>*@
                </div>
                <div class="callMe">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.TextBox("name")<br/>
                        <input type="tel" name="phone"/><br/>
                        <input type="submit" value="ЗАКАЗАТЬ"/>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
