@using IndDev.Domain.Entity.Products
@model IEnumerable<IndDev.Domain.ViewModels.ProductView>

<div class="specPredlog">
    <div class="headTop">
        <img src="@Url.Content("~/Content/images/remake.jpg")" alt=""/>
        <div class="hottopdescr">
            <a href="@Url.Action("ShowOffers","Shop")">
                горячее предложение
            </a>
        </div>
        <img src="@Url.Content("~/Content/images/remake_inv.jpg")" alt="" />
    </div>
    <div id="hotCarousel" class="owl-carousel">
        @foreach (var item in Model)
        {
            <div class="item">
                <div class="hotItem">
                    @if (item.Avatar != null)
                    {
                        <img src="@item.Avatar.Path" alt=""/>
                    }
                    else
                    {
                        <img src="@Url.Content("/Content/images/noimage.png")" alt="" />
                    }
                    <div class="hotDescr">
                        <p>@item.Product.Title</p>
                    </div>
                    <div class="hotFooter">
                        <a href="@Url.Action("ProductDetails", "Shop", new {id = item.Product.Id})">ПОДРОБНЕЕ</a>
                        <p>@item.Prices.FirstOrDefault(model => model.PriceType == PriceType.Sale).ConvValue.ToString("C")./ @item.Product.MesureUnit.ShortName</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>