@model IEnumerable<IndDev.Domain.Entity.Menu.ProductMenu>
<div class="subCat">
    <ul>
        @foreach (var item in Model.OrderBy(menu => menu.Priority))
        {
            <li>
                @item.Title
            @if (item.MenuItems.Any())
            {
            <ul>
                @foreach (var sItem in item.MenuItems.Where(menuItem => menuItem.ParentMenuItem==null).OrderBy(menuItem => menuItem.Priority))
                {
                    <li>
                        <a href="@Url.Action("SubCatDetails", "Admin", new {id = sItem.Id, returnUrl = Request.Url.PathAndQuery})" title="добавить товары">@sItem.Title</a>
                        @Html.Action("SubCatList","Admin",new {id=sItem.Id, returnUrl=Url.Action("Products")})
                    </li>
                }
            </ul>
            }
        </li>
        }
    </ul>

    @*<table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <td>Код</td>
            <td>Имя</td>
            <td>Описание</td>
            <td>Картинка</td>
            <td>Приоритет</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody id="tbCat">
        @Html.Action("CategoriesList")
        </tbody>
        <tfoot>
    @using (Html.BeginForm("AddProdCat", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <tr>
            <td>Новая</td>
            <td><input name="title" type="text" /></td>
            <td><textarea name="descr" type="text" rows="3"></textarea></td>
            <td><input name="photo" type="file" /></td>
            <td><input name="priority" type="number" value="999" max="999" min="1" /></td>
            <td><input type="submit" value="Добавить" /></td>
        </tr>
    }
        
        </tfoot>
    </table>*@
</div>

