@using IndDev.Domain.Entity
@model IndDev.Domain.ViewModels.ProductDetailsViewModel
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_LayoutSFoot.cshtml";
}

<div class="well-lg">
    <h2>@Model.Product.Title</h2>
    <div class="formProduct">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Product.Id)
                <div class="col-md-3 pull-left">
                    @if (Model.Avatar != null)
                    {
                        <img src="@Model.Avatar.Path" alt="avatarka"/>
                    }
                    else
                    {
                        <img src="~/Content/images/noimage.png" alt="Нет картинки"/>
                    }
                </div>
                <div class="col-md-9">
                    @Html.LabelFor(model => model.Product.Articul, "Артикул:")<br />
                    @Html.EditorFor(model => model.Product.Articul)<br />

                    @Html.LabelFor(model => model.Product.Title, "Наименование:")<br />
                    @Html.EditorFor(model => model.Product.Title)<br />

                    @Html.LabelFor(model => model.Product.Description, "Описание:")<br />
                    @Html.TextAreaFor(model => model.Product.Description)<br />

                    @Html.LabelFor(model => model.Product.IsService, "Товар является услугой:")
                    @Html.CheckBoxFor(model => model.Product.IsService)
                </div>
                <input type="submit" value="Сохранить" />
            }
        </div>

        <hr/>

        <h2>Дополнительные фото товара:</h2>

        <div class="row">
            @if (Model.Product.ProductPhotos != null && Model.Product.ProductPhotos.Count > 0)
            {
                foreach (var item in Model.Product.ProductPhotos)
                {
                    <div class="col-md-2">
                        <img src="@item.Path" alt="@item.AltText"/>
                        @Html.ActionLink("Удалить", "Products", new {id = item.Id})
                    </div>
                }
            }
            <div class="col-md-2">
                @using (Html.BeginForm("AddPhotoToProduct", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ProductId", Model.Product.Id)
                    <input type="file" name="photo"/>
                    <input type="submit" value="Добавить"/>
                }
            </div>

        </div>

        <hr/>

        <h2>Характеристики:</h2><br/>
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Product.Id)
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Brands,"Брэнд")
                    @Html.DropDownListFor(model => model.SelBr,new SelectList(Model.Brands,"Id","FullName"),Model.Product.Brand.FullName)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Vendors, "Вендор")
                    @Html.DropDownListFor(model => model.SelVr, new SelectList(Model.Vendors, "Id", "Name"), Model.Product.Vendor.Name)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.MesureUnits, "Ед. измерения")
                    @Html.DropDownListFor(model => model.SelMu, new SelectList(Model.MesureUnits, "Id", "FullName"), Model.Product.MesureUnit.FullName)
                </div>
                <input type="submit" value="Сохранить"/>
            }
        </div>
        <hr/>

        <h2>Цены:</h2>
        <div class="row" id="priceSection">
            @Html.Action("SetPriceSection",new {pId = Model.Product.Id})
        </div>
        <hr />
    </div>
</div>