@model IEnumerable<IndDev.Domain.Entity.Menu.ProductMenu>

<div class="myMenuAdm">
    <table class="table table-responsive">
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>ShortDescr</td>
            <td>Priority</td>
            <td title="Показывать в каталоге">Cat</td>
            <td>Edit</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.OrderBy(menu => menu.Priority))
        {
            <tr class="@(item.ShowInCatalog? "inCat":"notCat")">
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.ShotDescription</td>
                <td>@item.Priority</td>
                <td>@(item.ShowInCatalog?"ДА":"НЕТ")</td>
                <td>
                    <a href="@Url.Action("RootDetails", "Admin", new {id = item.Id})">Edit</a>
                    <a href="@Url.Action("DeleteCat", "Admin", new {id = item.Id})">Delete</a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            @using (Html.BeginForm("AddProdCat", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <tr>
                    <td>Новая</td>
                    <td><input name="title" type="text" /></td>
                    <td><textarea name="descr" type="text" rows="3"></textarea></td>
                    <td><input name="photo" type="file" /></td>
                    <td><input name="priority" type="number" value="999" max="999" min="1" /></td>
                    <td><input type="submit" value="Добавить" /></td>
                </tr>
            }
        </tfoot>
    </table>
</div>