@model IndDev.Domain.ViewModels.RootMenuVm
@{
    ViewBag.Title = "RootDetails";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
<div class="row">
    <div class="col-md-3 left-navigation">
        @Html.Action("AdminNavigation")
    </div>
    <div class="col-md-9">
        @if (TempData["message"] != null)
        {
            <h3 style="color: red">@TempData["message"]</h3>
        }
        <div class="productCategory">
            <h3>Категория продуктов: @Model.ProductMenu.Title</h3>
            <div class="picture pull-left">
                @if (Model.ProductMenu.Image != null)
                {
                    <img src="@Url.Content(Model.ProductMenu.Image.Path)" alt="@Url.Content(Model.ProductMenu.Image.AltText)" width="200"/>
                }
                else
                {
                    <h2>NO IMAGE</h2>
                }
            </div>
            <div class="detCatForm">
                @using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Id", @Model.ProductMenu.Id)
                    @Html.Hidden("returnUrl", @Request.Url.PathAndQuery)
                    <label>Наименование: </label>
                    <input type="text" name="title" value="@Model.ProductMenu.Title"/>
                    <br/>
                    @Html.CheckBox("ShowInCatalog", @Model.ProductMenu.ShowInCatalog)
                    @Html.Label("Отображать в каталоге?")
                    <br/>
                    <label>Описание для поисковиков: </label>
                    <br/>
                    <textarea name="ShotDescription" rows="5">@Model.ProductMenu.ShotDescription</textarea>
                    <br/>
                    <label>Приоритет: </label>
                    <input name="priority" value="@Model.ProductMenu.Priority" type="number" max="999" min="1"/><br/>
                    <input type="file" name="photo"/><br/>
                    <label>Описание: </label>
                    @Html.TextArea("Descr", @Model.ProductMenu.Descr, new {@class = "editorTiny"})
                    <br/>
                    <input type="submit" class="btn btn-primary btn-lg" value="Сохранить"/>
                }
            </div>
        </div>
        <h3>Состав категории:</h3>
        <table class="subRootList">
            <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>ShortDescr</td>
                <td>Priority</td>
                <td title="Показывать в каталоге">Cat</td>
                <td title="Произведено в России">Russia</td>
                <td></td>
                <td>Edit</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ProductMenuItems.OrderBy(item => item.Priority))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.ShotDescription</td>
                    <td>@item.Priority</td>
                    <td>@(item.ShowInCatalog ? "ДА" : "НЕТ")</td>
                    <td>@(item.IsRus ? "ДА" : "НЕТ")</td>
                    <td></td>
                    <td>
                        <a href="@Url.Action("AddSubItem", "Admin", new {id = item.Id})">edit</a>
                        <a href="@Url.Action("SubCatDetails","Admin",new {id=item.Id, returnUrl = Request.Url.PathAndQuery})">Товары</a>
                        <a href="@Url.Action("RemoveSubCat","Admin",new {id=item.Id})">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
                @using (Html.BeginForm("AddSubCut", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("returnUrl",@Request.Url.PathAndQuery)
                    <tr>
                        <td>@Html.Hidden("menuId", Model.ProductMenu.Id)</td>
                        <td><input type="text" name="title" placeholder="Наименование" /></td>
                        <td><textarea name="ShotDescription" placeholder="Описание подкатегории" rows="3"></textarea></td>
                        <td><input type="number" min="1" max="999" name="Priority" value="999"/></td>
                        <td>@Html.CheckBox("IsRus", false)</td>
                        <td>@Html.CheckBox("ShowInCatalog", false)</td>
                        <td><input type="file" name="photo" /></td>
                        <td><input type="submit" class="btn btn-success btn-sm" value="Сохранить" /></td>
                    </tr>
                }
            </tfoot>
        </table>
    </div>
</div>