@model IEnumerable<IndDev.Domain.Entity.Menu.Menu>

<div class="myMenuAdm">
    <ul id="menu">
        @foreach (var item in Model)
        {
            <li>
                @{
                    if (@item.HasChild)
                    {
                        @Html.ActionLink("-", "RemoveSubMenu", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                        <a class="titleA" href="@Url.Action("ProductList",new {menuId=item.Id})">@item.Title<i class="fa fa-arrow-right"></i></a>
                        @Ajax.ActionLink("+", "AddSubMenu", new { parent = item.Id }, new AjaxOptions {HttpMethod = "post", UpdateTargetId = "addSubMenu", InsertionMode = InsertionMode.Replace}, new { @class = "btn btn-success btn-sm" })
                    }
                    else
                    {
                        @Html.ActionLink("-", "RemoveSubMenu", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink(@item.Title, "ProductList", new { menuId = item.Id }, new { @class = "titleA" })
                        @Ajax.ActionLink("+", "AddSubMenu", new { parent = item.Id }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "addSubMenu", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success btn-sm" })
                    }
                }

                @Html.Action("SubMenu", new { id = item.Id })

            </li>
                    }
    </ul>
</div>