@model IEnumerable<IndDev.Domain.ViewModels.ProductViewModel>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Articul</td>
        <td>@item.Title</td>
        <td>@item.PriceIn</td>
        <td>@item.Currency</td>
        <td>@item.PriceOut</td>
        <td>
            @Html.ActionLink("Подробнее","ProductDetails",new {id=@item.Id})
            @Html.ActionLink("Удалить","RemoveProduct", new {id=@item.Id, returnUrl=Request.Url.PathAndQuery})
        </td>
    </tr>
}