@model IEnumerable<IndDev.Domain.Entity.Products.Product>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Articul</td>
        <td>@item.Title</td>
        @foreach (var pr in item.Prices)
        {
            <td>@pr.Value @pr.Currency.Code</td>
        }
        <td>@item.UpdateTime</td>
        <td>
            @Html.ActionLink("Подробнее","ProductDetails",new {id=@item.Id})
            @Html.ActionLink("Удалить","RemoveProduct", new {id=@item.Id, returnUrl=Request.Url.PathAndQuery})
        </td>
    </tr>
}