@model IEnumerable<IndDev.Domain.Entity.Menu.ProductMenuItem>
    
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Title</td>
        <td>@item.Products.Count</td>
        <td>@item.Priority</td>
        <td><input type="checkbox" checked="@item.IsRus" disabled="disabled"/></td>
        <td>@if (item.Image != null)
            {
                <img src="@Url.Content(item.Image.Path)" alt="@Url.Content(item.Image.AltText)" width="100"/>
            }
            else
            {
                <p>NO IMAGE</p>
            }</td>
        <td>
            @Html.ActionLink("Подробнее","SubCatDetails", new {id=@item.Id, returnUrl=Request.Url.PathAndQuery}, new {@class="btn btn-success btn-sm"})
            @Html.ActionLink("Удалить","RemoveSubCat", new {id=item.Id, root=item.ProductMenu.Id}, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}
