@model IndDev.Domain.ViewModels.MenuVm

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}

<div class="row">
    <div class="col-md-3 left-navigation">
        @Html.Action("AdminNavigation")
    </div>
    <div class="col-md-9">
        @if (TempData["message"] != null)
        {
            <h3 style="color: red">@TempData["message"]</h3>
        }
        <div class="productCategory">
            <h3>Категория продуктов: @Model.Parent.Title</h3>
            <div class="picture pull-left">
                @if (Model.Parent.Image != null)
                {
                    <img src="@Url.Content(Model.Parent.Image.Path)" alt="@Url.Content(Model.Parent.Image.AltText)" width="200" />
                }
                else
                {
                    <h2>NO IMAGE</h2>
                }
            </div>
            <div class="detCatForm">
                @using (Html.BeginForm("EditCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Id",@Model.Parent.Id)
                    <label>Наименование: </label>
                    <input type="text" name="title" value="@Model.Parent.Title" />
                    <br />
                    <label>Описание для поисковиков: </label>
                    <br />
                    <textarea name="ShotDescription" rows="3">@Model.Parent.ShotDescription</textarea>
                    <br />
                    <label>Приоритет: </label>
                    <input name="priority" value="@Model.Parent.Priority" type="number" max="999" min="1" /><br />
                    <input type="file" name="photo" /><br />
                    <label>Описание: </label>
                    @Html.TextArea("Descr",@Model.Parent.Descr, new { @class = "editorTiny" })
                    <br />
                    <input type="submit" class="btn btn-primary btn-lg" value="Сохранить" />
                }
            </div>
        </div>
    </div>
</div>