@model IndDev.Domain.Entity.Auth.User
<div class="logotip">
    @if (Model.Customer.Photo == null)
    {
        <img src="~/Content/images/noimage.png" alt="Логотип не задан"/>
    }
    else
    {
        <img src="@Model.Customer.Photo.Path" alt="@Model.Customer.Photo.AltText"/>
    }
    <ul>
        @if (Model.Customer.Photo == null)
        {
            <li>Добавить</li>
        }
        else
        {
            <li>Изменить</li>
            <li>Удалить</li>
        }
    </ul>
</div>
<div class="custDescr">
    <table class="table table-responsive table-condensed">
        <thead>
        <tr>
            <td class="tabHead" colspan="2">Данные пользователя <a class="pull-right"><i class="fa fa-pencil"></i></a></td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Имя:</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Регион:</td>
                <td>@Model.Region</td>
            </tr>
            <tr>
                <td class="tabHead" colspan="2">Реквизиты <a class="pull-right"><i class="fa fa-pencil"></i></a></td>
            </tr>
            <tr>
                <td>Компания:</td>
                <td>@Model.Customer.Details.CompanyName</td>
            </tr>
            <tr>
                <td>ИНН/КПП:</td>
                <td>@Model.Customer.Details.Inn/@Model.Customer.Details.Kpp</td>
            </tr>
            <tr>
                <td>ОГРН:</td>
                <td>@Model.Customer.Details.Ogrn</td>
            </tr>
            <tr>
                <td>Юридический адрес:</td>
                <td>@Model.Customer.Details.UrAdress</td>
            </tr>
            <tr>
                <td>Адрес доставки:</td>
                <td>@Model.Customer.Adress</td>
            </tr>
            <tr>
                <td class="tabHead" colspan="2">Контакты <a class="pull-right"><i class="fa fa-pencil"></i></a></td>
            </tr>
            <tr>
                <td>Телефон личный:</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Электронная почта:</td>
                <td>@Model.EMail</td>
            </tr>
        </tbody>
    </table>
</div>
