@model IndDev.Domain.Entity.Customers.Customer
<ul class="loginPartial">
    @if (User.IsInRole("A"))
    {
        <li><a href="@Url.Action("AdminPage", "Admin", new {userId = User.Identity.Name})">@Model.Title</a><span>/</span></li>
    }
    else
    {
        <li><a href="@Url.Action("Index", "Customer")">@Model.Title</a><span>/</span></li>
    }
    <li><a href="@Url.Action("LogOut", "Security")">ВЫХОД</a></li>
</ul>
