@model IndDev.Domain.ViewModels.PreOrder
@{
    ViewBag.Title = "MakeOrder";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
}
@section links
{
<link href="~/Content/Main.css" rel="stylesheet" />}
@Html.Action("TopNavigation","Home")

<div class="preOrder">
    <h1>Еще пара вопросов</h1>
    @using (Html.BeginForm("MakeOrder","Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row delivery">
            <h3>Укажите, как Вы планируете получить заказ:</h3>
            @Html.DropDownListFor(order => order.DeliveryTypeCode, Model.DeliveryTypes, Model.DeliveryTypeCode)
            <br/>
            @Html.Label("Наименование получателя:")
            @Html.TextBoxFor(order => order.Delivery.Recipient)
            <br/>
            @Html.Label("Куда доставить:")
            @Html.TextBoxFor(order => order.Delivery.To)
            <br/>
            @Html.Label("Комментарий к доставке:")
            @Html.TextAreaFor(order => order.Delivery.Comment)
        </div>
        @Html.ActionLink("ВЕРНУТЬСЯ К КОРЗИНЕ","Index","Cart",null ,new {@class="btn btn-primary btn-sm"})
        <input class="btn btn-success btn-lg" type="submit" value="ЗАКАЗАТЬ"/>
    }
<div class="delDescr">
    <h1>ПАМЯТКА</h1>
    <h2>по доставке</h2>
    <h2 class="attantion">ПРИ ЗАКАЗЕ ОТ 20 000р. ВСЕ ВИДЫ ДОСТАВКИ БЕСПЛАТНЫ</h2>
    <div class="descrArticle">
        <h3>Самовывоз.</h3>
        <p>
            <span>Клиент </span>сам забирает товар в офисе компании. Важно помнить, что получая товар
            Вам потребуется доверенность или печать организации, независимо от того, каким способом вы оплачивали товар.
        </p>
        <h4>Стоимость:<strong> БЕСПЛАТНО</strong></h4>
    </div>
    <div class="descrArticle">
        <h3>Доставка до ТК(транспортной компании)</h3>
        <p>
            <span>Товар </span>доставляется до транспортной компании силами поставщика. При этом, поставщик берёт на себя обязательства
            упаковать груз надлежащим образом, организовать его доставку и отправку в кратчайшие сроки. Наименование транспортной компании
            <strong>рекомендуем</strong> указать в комментарии к доставке.
        </p>
        <h4>Стоимость:<strong> 500р.</strong></h4>
    </div>
    <div class="descrArticle">
        <h3>Доставка до Автобуса</h3>
        <p>
            <span>Товар </span>доставляется на автовокзал г. Ставрополя и отправляется маршрутными такси или пассажирским автобусом
            до автостанции получателя. При таком способе доставки есть ограничение по весу и объему отгружаемого товара. Максимальный
            вес груза не должен превышать 30 (кг.) а объем 0,2 куба.
        </p>
        <h4>Стоимость:<strong> 500р.</strong></h4>
    </div>
    <div class="descrArticle">
        <h3>Доставка по г. Ставрополю</h3>
        <p>
            <span>Товар </span>доставляется по городу Ставрополю, городу Михайловску, с. Верхнерусское. Отдельные населенные пункты обсуждаются
            отдельно, стоимость согласуется индивидуально по каждой заявке.
        </p>
        <h4>Стоимость:<strong> 500р.</strong></h4>
    </div>
</div>
</div>