@model IndDev.Domain.Entity.Orders.Order
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_NewDesing.cshtml";
    var i = 0;
}

<div class="order">
        <div class="headInfo">
        <div class="itemHead">
            <img src="~/Content/images/idlgfpngblue.png" alt="logo" />
        </div>
        <div class="itemHead">
            <h1>Информация о заказе:</h1>
            <table>
                <tr>
                    <td>Заказчик:</td>
                    <td>@Model.Customer.Details.CompanyName</td>
                </tr>
                <tr>
                    <td>ИНН/КПП:</td>
                    <td>@Model.Customer.Details.Inn / @Model.Customer.Details.Kpp</td>
                </tr>
                <tr>
                    <td>Адрес:</td>
                    <td>@Model.Customer.Details.UrAdress</td>
                </tr>
                <tr>
                    <td>Телефон(ы):</td>
                    <td>
                        @foreach (var item in Model.Customer.Details.Telephones)
                        {
                            <p>@item.PhoneNumber</p>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="itemHead">
            <h1>Информация о доставке:</h1>
            @if (Model.Delivery.DeliveryType.Id == 6)
            {
                <h3>Самовывоз.</h3>
                <p>
                    <strong>Забор груза осуществляется по адресу:</strong>г. Ставрополь, ул. Льва Толстого, д.№53.
                </p>
                <p>
                    <strong>Время работы:</strong>пн-пт с 9:30 до 17:00
                </p>
            }
            else
            {
                <table>
                    <tr>
                        <td>Способ доставки:</td>
                        <td>@Model.Delivery.DeliveryType.Title</td>
                    </tr>
                    <tr>
                        <td>Получатель:</td>
                        <td>@Model.Delivery.Recipient</td>
                    </tr>
                    <tr>
                        <td>Адрес:</td>
                        <td>@Model.Delivery.To</td>
                    </tr>
                    <tr>
                        <td>Cтоимость:</td>
                        <td>@(Model.Delivery.DeliveryCost > 0 ? Model.Delivery.DeliveryCost.ToString("c") : "БЕСПЛАТНО")</td>
                    </tr>
                </table>
                    <p><strong>Отгрузка осуществляется по средам и пятницам.</strong></p>
            }
        </div>
    </div>
    <div class="orderBody">
        <h1>Заказ №@Model.Number от @Model.OrderDate.ToLongDateString()</h1>
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Артикул</td>
                    <td>Наименование</td>
                    <td>Цена</td>
                    <td>Кол-во</td>
                    <td>Ед. изм.</td>
                    <td>Сумма</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderLines)
            {
                i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.Product.Articul</td>
                        <td>@item.Product.Title</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@item.Product.MesureUnit.ShortName</td>
                        <td>@(Math.Round(item.Quantity * item.Price, 2).ToString("C"))</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"></td>
                    <td style="border: dotted 1px">ИТОГО:</td>
                    <td style="border: dotted 1px">@Model.CalcTotalSumm().ToString("C")</td>
                </tr>
                @if (Model.Delivery.DeliveryCost > 0)
                {
                    <tr>
                        <td colspan="5"></td>
                        <td style="border: dotted 1px">Доставка:</td>
                        <td style="border: dotted 1px">@Model.Delivery.DeliveryCost.ToString("C")</td>
                    </tr>
                }
                <tr>
                    <td colspan="5"></td>
                    <td style="border: dotted 1px">НДС:</td>
                    <td style="border: dotted 1px">@Model.CalcNds().ToString("C")</td>
                </tr>
                <tr>
                    <td colspan="5"></td>
                    <td style="border: dotted 1px">ИТОГО К ОПЛАТЕ:</td>
                    <td style="border: dotted 1px">@Model.CalcTotalSumm().ToString("C")</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="orderControls">
       @Html.ActionLink("ЗАКАЗЫ", "Orders")
    </div>
</div>

